[submodule "Boost-for-Android"]
	path = Boost-for-Android
	url=https://github.com/moritz-wundke/Boost-for-Android.git
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "thrift"]
	path = thrift
	url = https://github.com/apache/thrift.git
[submodule "volk"]
	path = volk
	url = https://github.com/cseci/volk.git
[submodule "gnuradio"]
	path = gnuradio
	url = https://github.com/analogdevicesinc/gnuradio.git
[submodule "libgmp"]
	path = libgmp
	url = https://github.com/bastibl/libgmp.git
[submodule "libusb"]
	path = libusb
	url = https://github.com/xloem/libusb.git
[submodule "hackrf"]
	path = hackrf
	url = https://github.com/bastibl/hackrf.git
[submodule "gr-osmosdr"]
	path = gr-osmosdr
	url = https://github.com/bastibl/gr-osmosdr.git
[submodule "gr-grand"]
	path = gr-grand
	url = https://github.com/adisuciu/gr-grand.git
[submodule "uhd"]
	path = uhd
	url = https://github.com/bastibl/uhd.git
[submodule "gr-clenabled"]
	path = gr-clenabled
	url = https://github.com/ghostop14/gr-clenabled.git
[submodule "gr-sched"]
	path = gr-sched
	url = https://github.com/bastibl/gr-sched.git
[submodule "rtl-sdr"]
	path = rtl-sdr
	url = https://github.com/bastibl/rtl-sdr.git
[submodule "gr-ieee802-15-4"]
	path = gr-ieee802-15-4
	url = https://github.com/bastibl/gr-ieee802-15-4.git
[submodule "gr-ieee802-11"]
	path = gr-ieee802-11
	url = https://github.com/bastibl/gr-ieee802-11.git
[submodule "libiio"]
	path = libiio
	url = https://github.com/analogdevicesinc/libiio
[submodule "libad9361-iio"]
	path = libad9361-iio
	url = https://github.com/analogdevicesinc/libad9361-iio
[submodule "libxml2"]
	path = libxml2
	url = https://github.com/GNOME/libxml2
[submodule "libffi"]
	path = libffi
	url = https://github.com/cseci/libffi/
[submodule "fftw"]
	path = fftw
	url = https://github.com/cseci/fftw
[submodule "gettext"]
	path = gettext
	url = https://github.com/cseci/gettext
[submodule "libiconv"]
	path = libiconv
	url = https://github.com/cseci/libiconv
[submodule "qwt"]
	path = qwt
	url = https://github.com/cseci/qwt
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "gr-m2k"]
	path = gr-m2k
	url = https://github.com/analogdevicesinc/gr-m2k
[submodule "libm2k"]
	path = libm2k
	url = https://github.com/analogdevicesinc/libm2k
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "portaudio"]
	path = portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "build-python"]
	path = build-python-src
	url = https://github.com/cseci/python
[submodule "host-python"]
	path = host-python
	url = https://github.com/cseci/python
[submodule "libsigrokdecode"]
	path = libsigrokdecode
	url = https://github.com/sigrokproject/libsigrokdecode
[submodule "glib"]
	path = glib
	url = https://github.com/cseci/glib
[submodule "numpy"]
	path = numpy
	url = https://github.com/cseci/numpy
[submodule "gr-flowgraph-runner"]
	path = gr-flowgraph-runner
	url = https://github.com/adisuciu/gr-flowgraph-runner
[submodule "volk_x86"]
	path = volk_x86
	url = https://github.com/gnuradio/volk
[submodule "gnuradio_x86"]
	path = gnuradio_x86
	url = https://github.com/gnuradio/gnuradio
